.ciphers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cipher-item {
  display: block;
  width: fit-content;
  padding: 8px 16px;
  outline: 1px solid var(--color-black);
  border-radius: 32px;
  margin-bottom: 8px;
  cursor: pointer;
}

.cipher-item:hover {
  outline: 2px solid #A56A11;
}

.cipher-link {
  font-size: 24px;
  text-decoration: auto;
  color: var(--color-black);
}
@media (min-width: 600px) {
  .cipher-link {
    font-size: 32px;
  }
}

.cipher-link:hover {
  color: #A56A11;
}
